<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#"><h4><b>Hacking School</b></h4></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">For Developers <span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           For Bussiness
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Innovation Management<br>- Drive innovation & bussiness growth in your organization </a>
            <a class="dropdown-item" href="#">technical Requairment<br>- Hire the best talent for your technology team</a>
            
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>

        </li>
        <button type="button" class="btn btn-outline-primary">Sing Up</button>

        </ul>
      
    </div>
  </nav>
  <div class="container-fluid">
   <span class="tag-text dark">Be a better</span>
        <h1 id="Programmer"><b>Programmer</h1></b></div>
        <h2 id="code">Code. Build. Hack.</h2>
            </a><a href="#" class="btn1 btn-primary btn-lg active" role="button" aria-pressed="true">Sign in with Facebook</a>
           <a class="btn btn-block btn-social btn-google" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-google']);">
              <span class="fa fa-google"></span> Sign in with Google
            </a>

              
        



  <div>


</body>
</html>
